*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    line-height: 32px;
    letter-spacing: 0px;
    scroll-behavior: smooth;
}
body{
    font-weight: 400;
}
a{
    text-decoration: none;
    vertical-align: top;
    outline: none !important;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
::selection {
    background: #ffc300;
    color: #fff;
}
.header-wrap{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: #fff;
    z-index: 3;
}
.container{
    width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    height: 100px;
    background-color: transparent;
}
.header-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.logo{
    vertical-align: middle;
    width: 12%;
    background-color: #fff;
    height: 100px;
}
.logo-img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.header-right-part{
    width: 12%;
    height: 100%;
}
.social-links-wrap{
    display: flex;
    position: relative;
    margin-top: 60px;
    margin-left: 33px;
    margin-right: 20px;
    bottom: 0%;
}
.social-links-wrap::before{
    content: '';
    position: absolute;
    left: -14px;
    bottom: 10px;
    width: 1px;
    height: 27px;
    opacity: 0.2;
    background-color: #fff;
}
.social-links-wrap .social_link{
    font: normal normal normal 20px/1 FontAwesome;
}
.social_link{
    padding: 10px;
    margin-left: 10px;
    font: normal normal normal 16px/1 FontAwesome;
    color: #fff;
}
.page-title{
    background-image: url("../img/bg_main_menu.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 400px;
    width: 100% !important;
    position: relative;
    margin: 0;
}
.mm-title{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 1170px;
    text-align: center;
    font-style: normal;
    text-transform: none;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: 300 !important;
    font-size: 5.56em;
}
.content-nav{
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 10;
}
.switch-buttons{
    display: flex;
    top: 0px;
    left: 0;
    z-index: 11;
    width: 100%;
    justify-content: center;
    transition: all 200ms ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 450px;
    margin: 0 auto;
}
.switch_languages {
    width: 120px;
    text-align: center;
    background: #e3000e;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}
.switch_languages:hover{
    color: #fff;
    background: #222222;
}
.lang_is_active{
    color: #fff;
    background: #222222;
}
.switch_rate{
    background: #3cb371;
    width: 50px !important;
    text-align: center;
    color: #fff;
    margin-right: 5px;
    font-size: 18px;
    
}
.rate_is_active, .switch_rate:hover{
    background: #1e5b39 !important;
}
.lang_rate_sep{
    position: relative;
    margin-left: 20px !important;
}
.lang_rate_sep::before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background: #000;
    position: absolute;
    left: -14px;
    opacity: 0.1;
}
.categories{
    text-align: center;
}
.top_section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
    border-bottom: none;
    border-bottom: 2px solid #e0e0e0;
    background: #fff;
    
}
.section_parent{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 28px;
    text-rendering: auto;
    margin: 0% 4%;
    text-align: center;
    text-align: center;
    white-space: nowrap;   
}
.section_parent_active a{
    color: #e3000e !important;
}
.section_beverages .section_parent_href::before{
    content: "\f0f4";
}
.section_food .section_parent_href::before{
    content: "\f0f5";
}
.section_other .section_parent_href::before{
    content: "\f004";
}
.categories{
    border-top: 2px solid #e0e0e0;
    background: #fafafa;
    
}

.section_parent_href{
    display: inline-block;
    border-bottom: 2px solid transparent;
    position: relative;
    bottom: -2px;
    transition: 0.3s;
    text-decoration: none;
    outline: none !important;
    padding: 15px 10px;
    color: #000;
    font-size: 16px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.section_parent_href::before{
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 28px;
    text-rendering: auto;
}
.sub_categories{
    width: 100%;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sub_categories_items{
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0 ;
    border-bottom: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 2px solid #e0e0e0;
    background: #fff;
    z-index: 12;
    height: 64px;
    align-items: center;

}
.sub_categories_items div{
    margin-right: 14px;
    text-align: left;
    white-space: nowrap;
}
.sub_categories_items div a {
    border-bottom: 2px solid transparent;
    bottom: -2px;
    transition: 0.3s;
    text-decoration: none;
    padding: 15px 10px;
    color: #000;
    font-size: 16px;
}
.items_container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: transparent;
    text-align: center;
    margin-top: 40px;
}
h3{
    color: #e3000e;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.3;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 42px;
    margin-bottom: 60px;
}
.menu_wrapper{
    width: 100%;
}
.single_item{
    width: 50%;
    vertical-align: baseline;
}
.single_item_layout{
    list-style: none;
    display: block;
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 40px !important;
    color: #283034;
    font-weight: 300;
    padding: 0 15px;
    min-height: 68px;
}
.item-has-image{
    padding-left: 64px !important;
    transition: all 250ms ease-in-out;
}
.menu-item-image{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    border-radius: 400px;
    width: 54px;
    height: 54px;
    border: 1px solid #bcbcbc;
    justify-content: center;
    margin-bottom: 10px;
    transition: all 250ms ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.menu-title-wrapper{
    margin: 0 0 3px;
    display: table;
}
.blank{
    display: none !important;
}
.rel{
    position: relative !important;
}
.menu-item-title{
    position: relative;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    padding: 0 10px 0 0;
}
.menu-item-title h5, .menu-item-price h5{
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    font-size: 20px;
    font-weight: bold;
    text-transform: none;
}
.menu-item-dots{
    position: relative;
    display: table-cell;
    height: 3px;
    width: 98%;
    z-index: 1;
    background-image: radial-gradient(circle closest-side, #878889 99%, transparent 100%);
    background-position: 50% 100%;
    background-size: 5px 2px;
    background-repeat: repeat-x;
}
.menu-item-price{
    display: table-cell;
    width: 1%;
    padding: 0 0 0 10px;
    white-space: nowrap;
}
.menu-item-desc{
    margin-top: 12px;
    text-align: left;
    font-size: 18px;
}
.footer{
    color: #99907f;
    background-color: #fff;
    height: 60px;
    padding-top: 25px;
}
.copyright_wrap{
    font-size: 12px;
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
p a{
    color: #99907f;
}
.footer_social_links_wrap{
    padding-right: 90px;
    
    float: right;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    top: 0;
}
.social_link_footer{
    color: #99907f !important;
}
.footer-backtop{
    position: fixed;
    z-index: 100;
    bottom: 22px;
    right: 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.4);
    transition: background-color 0.2s ease-in-out;
    color: #333;
}
.footer-backtop i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 0;
    display: block;
    width: 2px;
    height: 20px;
    font-style: italic;
}
.footer-backtop i::before, .footer-backtop i::after{
    content: '';
    position: absolute;
    top: 8px;
    width: 12px;
    height: 2px;
    background-color: #222;
}
.footer-backtop i::before{
    right: -1px;
    transform: rotate(-45deg);
}
.footer-backtop i::after{
    left: -2px;
    transform: rotate(+45deg);
}
@media (max-width: 1026px) {
    body {
      width: 100%;
    }
    .header{
        display: block;
        position: relative;
        height: 100px;
        background-color: #222222;
    }
    .menu-wrapper{
        max-width: 100%;
        padding: 0 15px;
    }
    .menu_wrapper{
        padding: 0 15px;
    }
    .items_container{
        width: 100% !important;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .logo{
        width: 60px;
        height: 60px;
        padding: 20px 15px;
        background-color: #222222;
    }
    .logo-img{
        width: 60px;
        height: 60px;
    }
    .social-links-wrap{
        margin-top: 40px;
    }
    .social-links-wrap::before{
        display: none;
    }
    .social_link{
        font: normal normal normal 20px/1 FontAwesome !important;
    }
    .mm-title{
        width: 100%;
    }
    .footer_social_links_wrap{
        margin-right: 10%;
    }
    .single_item{width: 100%;}
    td{
        display: block;
        width: 100px;
    }
    
}
@media (max-width: 810px){
    .page-title{
        display: none;
    }
    .top_section{
        overflow: auto;
        white-space: nowrap;
    }
    .sub_categories_items{
        overflow: auto;
        white-space: nowrap;
    }
    .sub_categories::before{
        content: "\f0d9";
        left: 0;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        bottom: 2px;
        background: #eaeaea;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(234, 234, 234);
        width: 40px;
        font-size: 30px;
        line-height: 64px;
        padding-left: 0px;
        color: #757575;
        z-index: 99;
    }
    .sub_categories::after{
        content: "\f0da";
        right: 0;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        
        bottom: 2px;
        background: #eaeaea;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(234, 234, 234);
        width: 40px;
        font-size: 30px;
        line-height: 64px;
        padding-left: 0px;
        color: #757575;
        z-index: 99;
    }
    .blank{
        display: inline-block !important;
        width: 40px;
        margin-right: 0 !important;
    }
    .sub_categories_items::-webkit-scrollbar {
        height: 0;
    }
    .categories::after{
        content: "\f0da";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        right: 0px;
        top: 0;
        bottom: 2px;
        background: #eaeaea;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(234, 234, 234);
        width: 40px;
        font-size: 30px;
        line-height: 64px;
        padding-left: 0px;
        color: #757575;
        z-index: 99;
    }
    .categories::before{
        content: "\f0d9";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 2px;
        background: #eaeaea;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(234, 234, 234);
        width: 40px;
        font-size: 30px;
        line-height: 64px;
        padding-left: 0px;
        color: #757575;
        z-index: 99;
    }
    .menu-item-dots{
        background-image: radial-gradient(circle closest-side, #fff 99%, transparent 100%) !important;
    }
    .sub_categories_titles{
        font-size: 28px;
        float: left;
        margin-bottom: 0;
        padding-left: 15px;
        margin-bottom: 15px;
    }
    .menu-wrapper{
        padding: 0 0;
    }
    .single_item_layout{
        padding: 0 0;
        min-height: 30px;
    }
    .menu-item-title h5{
        font-weight: 400;
    }
    .menu-item-desc{
        font-size: 16px;
        margin-top: 0;
    }
    .copyright_wrap{
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .copyright_wrap p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    } 
    
}
@media (max-width: 430px) {
    .copyright_wrap{
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
    }
    .copyright_wrap p{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    } 
    .footer_social_links_wrap{
        float: none;
        text-align: center;
        margin-right: 0;
    }
    .social_link_footer{
        margin-right: 10px;
    }
    .header-right-part{
        width: 100%;
    }
}